.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #2a363b;
}
.link:hover {
  color: #e84a5f;
}
.activeLink {
  text-decoration: underline 3px #e84a5f;
  /* color: #e84a5f; */
}
