.Container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
  padding: 0 15px;
}

.contacts-article {
  margin-top: 20px;
}

.contacts-title {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  text-decoration: underline;
}

.loader {
  position: absolute;
  top: 50%;
  left: 45%;
  border: 16px solid whitesmoke;
  border-top: 16px solid #e84a5f;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.4s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
